<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <a class="navbar-brand" href="/index">Iowa State Fair</a>

            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <form class="form-inline my-2 my-lg-0" method="POST">
                    <input class="form-control mr-sm-2" type="search" name="search_string" autofocus="autofocus" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" formaction="/search" type="submit">Search</button>
                </form>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Vendor Orders</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                {% if current_user.is_anonymous%}
                <li class="nav-item">
                    <a class="nav-link" href="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/login">Login</a>
                </li>

                {% else %}

                {% if current_user.is_admin() %}
                <li class="nav-item">
                    <a class="nav-link" href="/edit_orders">Edit Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/control_panel">User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/account">Account Setting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>

                {% endif %}
                {% endif %}
            </ul>
        </div>

    </nav>
</div>