{% extends 'base.html' %}

{% block body %}

	<h1 style="text-align: center;">Questions about Vendors Orders?</h1>
	<img style="padding: 0 15px; float: left;" src="/static/images/contact.jpg" height="300px">
	<p style="font-weight: bold">Any questions/concerns please contact us below:</p>
    <address>
        Maytag Family Center - Communications Dept. <br />
        3000 East Grand Avenue, Des Moines, IA 50317 <br />
        Des Moines, Iowa 50320<br />
        P: (515) 262-3111<br />
        Email: communications-dept@iowastatefair.org<br />
     </address>

{% endblock %}
